body{
    background-color: lightblue;
}
img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#dash{
    background-color: blue;
    color: blue;
    height: 3px;
    width: 50px;
    margin-top: 10px;

}
#name{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
#des{
    color: lightseagreen;
}
#rev{
    color: darkslategray;
    height: 100px;
    overflow-y: auto;
}
#lower-div{
    background-color: aliceblue;
    border-radius: 10px;
    display: block;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 30%;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 9px 0 #a3a1a1;
}
#upper-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px
}
#left-arrow,#right-arrow {
    margin-right: 10px;
    background: transparent;
    border-color: transparent;
    color: blue;
    font-size: medium;
    font-weight: bolder;
}
#random-rev{
    margin-bottom: 10px;
}
button{
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
}
button:hover{
    background-color: darkgrey;
    
}
#title{
    display: inline-block;
    margin: 0;
}

