body{
    background-color: lightblue;
}
img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#dash{
    background-color: blue;
    color: blue;
    height: 1px;
}
#name{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
#des{
    color: lightseagreen;
}
#rev{
    color: darkslategray;
    height: 100px;
    overflow-y: auto;
}
#lower-div{
    background-color: aliceblue;
    border-radius: 10px;
    display: block;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 30%;
    text-align: center;
}
#upper-div{
    position: absolute;
    top: 10%;
    left: 40%
}
#left-arrow,#right-arrow {
    margin-right: 10px;
    background: transparent;
    border-color: transparent;
    color: blue;
    font-size: medium;
    font-weight: bolder;
}
#random-rev{
    margin-bottom: 10px;
}
button{
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
}
button:hover{
    background-color: darkgrey;
    
}
